.pending-status-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.response-buttons-container {
  display: flex;
  column-gap: 20px;
}

.large-screen-response-button-container,
.large-screen-response-status,
.extra-large-screen-response-date-time {
  display: none;
}

@media (min-width: 576px) {
  .pending-status-buttons-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 992px) {
  .creator-section-requested-date-time-column {
    display: none;
  }
  .creator-section-video-column {
    width: 61%;
  }
  .creator-section-status-column,
  .creator-section-approve-column,
  .creator-section-reject-column {
    width: 13%;
  }
  .status-response-buttons-container {
    display: none;
  }
  #response-card-text-container {
    width: 39%;
    padding-right: 3%;
  }

  .large-screen-response-button-container,
  .large-screen-response-status {
    display: block;
    width: 13%;
  }
}

@media (min-width: 1200px) {
  .creator-section-requested-date-time-column {
    display: block;
    width: 14%;
  }
  .creator-section-video-column {
    width: 40%;
  }
  .creator-section-status-column {
    width: 12%;
  }

  .creator-section-approve-column,
  .creator-section-reject-column {
    width: 10%;
  }

  #response-card-text-container {
    width: 27%;
    padding-right: 3%;
  }
  .extra-large-screen-response-date-time {
    display: block;
    width: 14%;
  }

  .large-screen-response-button-container {
    width: 10%;
  }
  .large-screen-response-status {
    width: 12%;
  }
}
