.creator-request-details-buttons-container {
  margin: 12px 0px 0px 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.creator-request-details-buttons-container button {
  border: 1px solid gray;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: transparent;
}

.error-message {
  font-size: 1rem;
  margin-top: 4px;
  color: red;
  margin-left: 1vw;
  font-weight: 500;
}
.error {
  font-size: 1.15rem;
  font-weight: 600;
  margin-right: 4px;
}
