.request-section {
  min-height: 100vh;
  padding: 1vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-section {
  justify-content: center;
}
.loading-img {
  width: 50vw;
}
.loading-text {
  font-size: 16px;
  font-weight: 500;
}
.request-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 12px 0vw;
  align-self: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.media-files-container {
  display: flex;
  flex-direction: column;
}

.file-update-section {
  position: relative;
}

.file-replace-icon {
  background-color: black;
  padding: 8px;
  font-size: 40px;
  color: white;
  border-radius: 12px;
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 1;
}

.myFile {
  width: 95vw;
  height: 50vw;
  border-radius: 10px;
  border: solid 2px #616e7c;
  /* background-color: white; */
}

.preview-card {
  border: dashed 2px #616e7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.upload-icon {
  font-size: 34px;
}

.upload-text {
  font-size: 12px;
  font-weight: 500;
}

.thumbnail-img {
  width: 100px;
  height: 80px;
}

/*input container*/
.input-container {
  position: relative;
  width: 100%; /* 100% for full width on small screens */
  max-width: 768px; /*max width for larger screens */
  margin: 0px 0px 14px;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  padding: 12px 12px 22px 12px;
}

.title-label,
.description-label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: rgb(71, 85, 105);
}

.info-icon {
  display: inline-block;
  margin-left: 5px;
  color: #6c757d;
  cursor: pointer;
  font-size: 12px;
}

.title-textarea {
  width: 100%;

  font-size: 16px;

  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none; /* Prevents the user from resizing the textarea */
  overflow: hidden; /* Hides the scrollbar */
  font-family: Inter;
  line-height: 1.2em;
}

.char-count {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  color: #6c757d;
}

.description-textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  resize: none; /* Prevents the user from resizing the textarea */
  overflow-y: auto; /* Enables vertical scrollbar */
  height: auto; /* Ensure the textarea adjusts its height */
  max-height: calc(1.2em * 5); /* Set the maximum height to 5 rows */
  line-height: 1.2em; /* Adjust the line height to match your needs */
  font-family: Inter;
}

.form-elements-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-element-container {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.form-element-heading {
  font-size: 14px;
  margin: 0px 0px 8px;
  font-weight: 600;
}

.audience-type {
  font-size: 14px;

  line-height: 2rem;
  margin-left: 14px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.audience-type-radio {
  width: 1.5em;
  height: 1.5em;
}

.form-element-container select {
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 14px;
  color: #333333;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  /* for replacing default arrow styling*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#creator {
  width: clamp(120px, 60vw, 300px);
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #a19d9d;
  outline: none;
  margin-left: 20px;
  border-radius: 5px;
}
#creator:focus {
  border-color: rgb(84, 84, 88);
}

.request-section button {
  border: 1px solid gray;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: transparent;
}

@media (min-width: 576px) {
  .loading-text {
    font-size: 20px;
  }
  .form-elements-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-element-container {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .loading-text {
    font-size: 24px;
  }
  .form-element-heading {
    font-size: 16px;
  }
  .media-files-container {
    flex-direction: row;
    gap: 4vw;
    margin-bottom: 12px;
  }
  .upload-text {
    font-size: 14px;
  }
  .myFile {
    width: 43vw;
    height: 25vw;
  }
  .title-label,
  .description-label {
    font-size: 13px;
  }
  .form-elements-container {
    justify-content: space-evenly;
  }
  .form-element-container {
    width: 33%;
  }
}

@media (min-width: 992px) {
  .loading-text {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
}
